$text-white:#fff;

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.container{
  width:95vw;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2.5%;
  font-family: 'Gentium Basic', serif;
  font-size:62.5%;
  animation-name: fade;
  animation-duration: .75s;
  

  .homepage{
    width:77%;
    height:85vh;
    display:flex;
    border:1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image:url(../../img/coffee.jpeg);
    background-size:cover;
    opacity:0.75;
    background-position:bottom;
    text-decoration: none;
    font-size: 2.55em;
    overflow: scroll;
    letter-spacing: 2.75px;
    
    &.clicked{
      background-image:none;
      background-color: tan;
    }

    .hp_text{
      width:100%;
      position: relative;
      top: 40%;
	    bottom:50%;
      text-align: center;
      color:$text-white;
    }
    .output{
      width: 100%;
    }

  }
}