.aside{
    border: 1px solid black;
    width: 20%;
    padding: 4% 0 0 .75% ;
    height:85vh;
    font-size: 1.5em;
    .img{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      object-fit: contain;
      width:20%;
      padding: 5%;
    }  
  }