.aside{
    width: 18%;
    padding: 5% 2% 0 2% ;
    height:85vh;
    font-size: 1.5em;
    
    p{
      width:100%;
      padding: 8% 2% 0 2% ;
      margin: auto;
      text-align: center;
      font-size: 1.25em;
    }

    .logoContainer{
      padding: 6% 0 0 0 ;
    }
  }