  $color-secondary: #f08a5d;
  $color-tertiary: #f08a5d;
  $color-dark:#333;
  $color-white:#fff;
  $width-button:150px;
  
  @mixin clearfix{
    &::after{
  content:"";
  clear:both;
  display:table;
  }
}

@mixin styleLinkText($color) { 
  text-decoration:none;
  text-transform:uppercase;
  color:$color;
}


*{
    margin:0;
    padding:0;
  }

.navbar{
  height: 9vh;
  margin: 20px 0px 0 17px;
  width: 95vw;
  @include clearfix;

  
  .navigation{
    list-style:none;
    float:left;
    width:100vw;
      li{
        border:1px solid;
        display:inline-block; //sitting side by side
        margin-left:30px;
        width:29.5%;
        text-align: center;
        margin:0 1.2%;
        padding: 15px 0;
        background-color: dodgerblue; 
        font-family: 'Gentium Basic', serif;
        font-size: 1.25em;
        
        @include styleLinkText($color-white);

        &:hover{
          background-color:$color-white;
          color:dodgerblue;
        }
        
      }
  }
}
